@keyframes bgColor {
    0% {
        background-color: var(--cor1);
    }
    50% {
        background-color: var(--cor2);
    }
    100% {
        background-color: var(--cor3);
    }    
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Italic.ttf);
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, 'Times New Roman', Times, serif;
}
:root {
    --cor1: cyan;
    --cor2: lime;
    --cor3: yellow;
    --cinza: #2A2B2A;
    --rosa: #F5124B;
    --preta: black;
    --branca: white;
    --spaceIn: 10px;
    --spaceOut: 50px;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
header, footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: var(--branca);
    padding: var(--spaceIn) 0;
    background-color: var(--preta);
    align-items: center;
}
header {
    position: sticky;
    top: 0;
}
nav {
    list-style: none;
    display: flex;
    gap: var(--spaceIn);
}
nav a {
    color: var(--branca);
    text-decoration: none;

}
main {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spaceOut);
}
footer {
    justify-content: center;
}

p {
    text-align: center;
    padding: var(--spaceIn);
}
h2 {
    width: 100%;
    margin: var(--spaceIn);
    padding: var(--spaceIn);
    border-bottom: 2px solid var(--rosa);
    text-align: center;
    font-family: 'Protest Guerrilla';
}
button {
    padding: 5px var(--spaceIn);
    color: var(--branca);
    background-color: var(--rosa);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
#menuMobile {
    display: none
}
#menuMobile a {
    color:yellow;
}

.destaqueOut, .destaqueIn, .cardsOut, .cardsIn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spaceIn);
}
.destaqueIn {
    padding: var(--spaceIn) 0;
    border: 1px solid black;
    border-radius: var(--spaceIn);  
    align-items: center;
    animation: backInDown;
    animation-duration: 2s; 
}
.destaqueDescricao {
    color: var(--cinza);
}
.cardsIn {
    padding: var(--spaceIn);
    flex-direction: row;
    justify-content: center;
}
.destaqueOut h2, .cardsOut h2 {
    width: 85%;
}
.cardsOut h2 {
    margin-top: 0;
    padding-top: 0;

}
.destaqueTitle {
    font-weight: bold;
}
.destaqueImage {
    width: 100%;
    animation: backInRight;
    animation-duration: 4s; 
    margin: var(--spaceIn) 0;
}
.cardsOut p {
    font-weight: bold;
}
p:is(.descricao) {
    font-weight: normal;
}
.card {
    /* bug aqui!!!: tá estourando a largura.*/
    padding: var(--spaceIn);
    border: 1px solid black;
    border-radius: var(--spaceIn);  

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: var(--spaceIn);
}
.card:hover {
    animation-name: bgColor;
    animation: pulse;
    animation-duration: 2s; 
    animation-iteration-count: infinite;
}
.cardTitle {
    font-weight: bold;
    font-size: 16pt;
}
.cardImage {
    width: 150px;
}

