#menuPC {
    display: none;
}
#menuMobile {
    display: flex;
}
.cardsIn {
    flex-direction: column;
}
/* landscape | portrait */
@media screen and (orientation: landscape) {
    .cardsIn {
        flex-direction: flex;
    }
}    
